.table-header {
    background-color: var(--dark);
}

table {
    width: 100%;
}

th {
    color: white;
}

td {
    background-color: var(--light-background);
}

td {
    border: 1px solid;
    padding: 10px 5px;
}

.addMemberCell {
    border: none;
    padding: 0;
    background-color: transparent;
}

.club-table-container {
    display: flex;
    justify-content: center;
}