.loginContainer {
    background-color: white;
    display: flex;
}

.imageContainer {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    max-width: 512px;
    padding: 2%;
}

.logoImage {
    max-width: 200px;
}

.signupLink {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.loginForm {
    margin-top: 8px;
}

.forgottenPasswordLink {
    display: flex;
    justify-content: flex-end;
}

.loginButton {
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.loginIllustration {
    margin-top: 48px;
}

.loginSiteInformationButton {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}