.loginContainer {
    background-color: white;
    display: flex;
}

.imageContainer {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    max-width: 512px;
    padding: 2%;
}

.logoImage {
    max-width: 200px;
}

.loginContentContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.signupLink {
    display: flex;
}