.footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 48px;
    max-height: 78px;
    background-color: var(--background);
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

.footerText {
    color: white;
}